---
import Inicio from "@/components/secciones/Inicio.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Inicio">
  <main>
    <Inicio />
  </main>
</Layout>

<style>
  main {
    padding-inline: 4rem;
  }
</style>
